services:
  redis:
    image: redis
    ports:
    - '6379:6379'
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    volumes:
      - ./scripts/schema.sql:/docker-entrypoint-initdb.d/schema.sql
